.awsm-dropdown {
  max-width: 500px;
  display: border-box;
  position: relative;
  .awsm-ripple-btn {
    button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .arrow-down {
        transform: translateY(5px) rotateX(180deg);
        transition: transform 300ms ease;
      }
      .arrow-up {
        transform: translateY(-3px) rotateX(360deg) scale(1.1);
        transition: transform 300ms ease;
      }
    }
  }
  .dropdown-list {
    position: absolute;
    z-index: 1;
    width: 100%;
    overflow-y: scroll;
    background-color: #7d9dc9;
    color: #fff;
    max-height: 200px;
    transition: max-height 300ms ease-in-out;
    ul {
      margin: 0 -15px;
      list-style: none;
      padding: 0;
      margin: 0.3rem 0 0.8rem 0;
      transition: transform 300ms ease-in-out;
      li {
        padding: 0.8rem 1.8rem;
      }
    }
    &::-webkit-scrollbar { 
      display: none; 
    }
  }
  .slide-down {
    max-height: auto;
    ul {
      transform: translateY(10px);
    }
  }
  .slide-up {
    max-height: 0px;
    ul {
      transform: translateY(-10px);
    }
  }
}